.top-navbar {
  color: black;
  font-size: 18px;
  padding: 0px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*--Slider----------------------------------------*/

.cover-slides{
  height: 100vh;
}

.container{
  position: relative;
  text-align: center;
}

.btn{
  display: inline-block;
  text-align: center;
  border: 2px solid black;
  font-size: 20px;
  background: transparent;
}

.cover-slides h1{
  font-family: 'Arbutus Slab', serif;
  font-size: 54px;
  color: black;
}
.m-20 .m-40{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
