.top-navbar {
  color: black;
  font-size: 18px;
  padding: 0px 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*--Bildekarusell----------------------------------------*/

.bildeKarusell {

}
.bildeKarusell img {
  width: auto;
}
.bildeKarusell button {

}