* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*EDE8E8 445738 000000 B2675E*/
#wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 80px 1fr 150px;
    grid-template-areas: "h h h h"
                         "m m m m"
                         "f f f f";
}

header {
    grid-area: h;
    background-color: #af9d87;
}

header img {
    margin: 5px 10px;
    max-width: 80px;
    position: absolute;
}

header a {

    text-decoration: none;
    color: #EDE8E8;
    font-size: 18px;
    padding: 31px 8px;
}

header a:hover{
    font-weight: 600;
}

main {
    grid-area: m;
    background-color: #dcd4ca;
    padding: 20px;
}

footer {
    padding: 30px;
    grid-area: f;
    background-color: #000000;
    color: white;
    column-count: 4;
}
footer img {
    height: 40px;
    padding-top: 10px;
    margin-right: 10px;
}
/*--FORSIDE------------------------------------------------*/
#nyhet1 {
    padding: 10px;
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
}
#nyhetsbilde1 {
    max-width: 50%;
}

#nyhetstekst1 {
    display: flex;
    margin: 5px 0px 5px 30px;
    align-items: center;
    line-height: 25px;
}
#nyhet2 {
    padding: 10px;
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-direction: row-reverse;
}
#nyhetsbilde2 {
    max-width: 50%;
    float: right;

}

#nyhetstekst2 {
    display: flex;
    margin: 5px 30px 5px 0px;
    align-items: center;
    line-height: 25px;
}
strong {
    color: #B2675E;
}
@media only screen and (max-width: 890px) {
    #nyhet1 {
        flex-direction: column;
    }
    #nyhetsbilde1 {
        min-width: 300px;
        margin: auto;
    }
    #nyhetstekst1 {
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }
    #nyhet2 {
        flex-direction: column;
    }
    #nyhetsbilde2 {
        min-width: 300px;
        margin: auto;
    }
    #nyhetstekst2 {
        margin: auto;
        text-align: center;
        margin-top: 10px;
    }
}
/*--MENY-------------------------------------------------*/
#menyInnhold {
    text-align: center;
    width: 90%;
    margin: auto;
}
#vegetarForklaring {
    display: inline;
}
#introMeny {
    width: 100%;

}
#visningsVegetar {
    width: 40px;
}
.vegetar {
    width: 20px;
}
.vegetarRett {
    display: inline;
}
/*#2c2c2c*/ 
#menyMain section {
    /*color: #EDE8E8;*/
    padding: 30px;
    width: 40%;
    margin: 20px auto;
    border-radius: 20px;
    border: 10px solid #B2675E;
}
#menyMain h2, h1{
    color: #B2675E;
}
#menyInnhold:not(#introMeny) {
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width: 1200px) {
    #menyInnhold:not(#introMeny) {
        flex-wrap: column;
    }
    #menyMain section {
        width: 90%;
    }
}
/*--BESTILL BORD----------------------------------------*/
#bestillingInnhold {
    width: 90%;
    margin: auto;
    text-align: center;
}
input, textarea {
    /*text-decoration: underline;
    text-decoration-color: #B2675E;*/
    outline: none;
    border: none;
    border-bottom: #B2675E 2px solid;

    padding: 10px;
    width: 50%;
    border-radius: 20px;
}
label {
    display: none;
}
input:focus, textarea:focus {
    border: 2px solid #B2675E;
}
input:hover, textarea:hover {
    background: #EDE8E8;
}
#submit{
    margin: 10px auto;
    background: #B2675E;
    width: 20%;
}
::placeholder {
    opacity: 1;
    color: grey;
}
/*--OM OSS------------------------------------------------*/
#infoInnhold {
    width: 90%;
    margin: auto;
    font-size: 18px;
}
#infoInnhold h3, h2 {
    color: #B2675E;
    padding: 10px 0px;
}
#infoInnhold section {
    padding: 20px 0px;
    border-bottom: 3px solid #B2675E;
}
  /*--Bildekarusell----------------------------------------*/

.bildeKarusell {

}
.bildeKarusell img {
width: auto;
}
.bildeKarusell button {

}
/*-Mobilversjon---------------------------------------------*/
@media only screen and (max-width: 480px) {
    header a {
        display: none;
    }
  }
