* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100px 85% 150px;
    grid-template-areas: "h h h h"
                         "m m m m"
                         "f f f f";
}


header {
    grid-area: h;
    background-color: #445738;
}

header img {
    margin: 20px 40px;
    max-width: 175px;
    position: absolute;
}

header a {
    float: right;
    margin: 35px 35px;
    text-decoration: none;
    color: #EDE8E8;
    font-size: 20px;
}

header a:hover{
    font-weight: 1000;
}

main {
    grid-area: m;
    background-color: #EDE8E8;
    padding: 20px;
}

footer {
    padding: 30px;
    grid-area: f;
    background-color: #000000;
    color: white;
    column-count: 4;
}
footer img {
    height: 40px;
    padding-top: 10px;
    margin-right: 10px;
}
